body{
    background: #131313;
    font-family: 'IBM Plex Mono', monospace;
}

/* (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) */


container{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 0;
    max-width: 20%;
    min-width: 120px;
}

.menu-hamburguer{
    margin: 20px 20px 0 0;
    width: 10%;
    max-width: 50px;
    min-width: 30px;
}

header{
    width: 100%;
    height: 88vh;
    /* margin-top: 5%; */
    /* background: url("../img/venusInput.svg") no-repeat center; */
    position: relative;
}

.venus{
    /* background: url("../img/venusInput.svg") no-repeat center; */
    width: 100%;
    /* position: relative; */
}

.venus img{
    width: 100%;
    position: relative;
}

.rotate{
    transform: rotate(-18deg);
    /* position: absolute; */
}

.input{
    transform: skewX(-45deg);
    /* border: 2px solid white; */
    position: absolute;
    top: -105px;
    right: 42%;
    padding: 2px 30px
}

.input input{
    background: transparent;
    border: none;
    transform: skewX(45deg);
    padding: 20px 70px;
    width: 180px;
}

.input input::placeholder{
    color: white;
    font-size: 1.3em;
}

.nuvem{
    width: 150%;
    left: -80px;
    bottom: -100px;
    position: absolute
}

.retornoDaBusca{
    background: url("../img/grid-bordeless.svg") no-repeat center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    top: 125vh;

}

.cards{
    background: url("../img/grid-bordeless.svg") no-repeat center;
    max-width: 300px; 
    margin: 30px;
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto img{
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
}

.info{
    width: 100%;
    background: #3C2DCB 50%;
    margin: 0 auto;
    color: white;
    /* max-width: 300px; */
}

.nome {
    text-align: center;
    padding-top: 15px;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.nome a {
    color: #fff;
    font-family: 'Audiowide', monospace;
    font-size: 1rem;
    padding-top: 10px; 
    text-align: center;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  

  .nome a:hover {
    color: #FF1177;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }

  @-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }

  @-moz-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  
.descricao {
    text-align: justify;
    padding: 0 30px 20px 30px;
    margin: 0;
    font-size: .8em;
}


@media(min-width: 700px){
    
    .menu-hamburguer{
        display: none;
    }

    .logo{
        margin-left: 80px; 
    }



}