body{
    background: #131313;
    font-family: 'IBM Plex Mono', monospace;
}

container{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
    margin-left: 5%;
    max-width: 20%;
    min-width: 120px;
}

.menu-hamburguer{
    margin-right: 5%;
    width: 10%;
    max-width: 50px;
    min-width: 30px;
}

header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../img/venus-nuvem.svg") no-repeat center;
    background-size: 100vh
}

.rotate{
    position: absolute;
    /* position: fixed; */
    left: 52.5%;
    bottom: 30.5%;
    width: 67%;
    max-width: 297px;
    transform: rotate(-17deg) translateX(-36%) translateY(-178%);
}

.input{
    transform: skewX(-17deg);
}

.input input{
    background: transparent;
    border: none;
    /* padding: 20px 70px; */
    padding: 0.3rem;
    width: 150px;
    height: 59px;
    color: white;
    font-size: 1.3em;
}

.input input::placeholder{
    color: white;
    font-size: .7em;
    text-align: center;
}

.divNuvem{
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 220px;
    width: 100%;
    transform: translate(-50%, 50%);
}

.imgNuvem{
    display: block;
    height: 100%;
    width: 100%;
}

.cadastradas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    margin-top: 100px;
}

.cards{
    background: url("../img/grid-bordeless.svg") no-repeat center;
    max-width: 300px; 
    margin: 30px;
    height: 100%;
    -webkit-box-shadow: 1px 1px 10px 1px rgba(255,255,255,0.2);
    -moz-box-shadow: 1px 1px 10px 1px rgba(255,255,255,0.2);
    box-shadow: 1px 1px 10px 1px rgba(255,255,255,0.2);
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.foto img{
    width: 200px;
    border-radius: 50%;
    margin-top: 10%;
    position: relative;
    
}

.overlay{
    position: absolute;
    background: purple;
    opacity: 0.5;
    width: 210px;
    height: 210px;
    border-radius: 100%;
    /* z-index: 2; */
    transform: translateY(7%)
}

.info{
    width: 100%;
    background: #3C2DCB 50%;
    margin: 0 auto;
    color: white;
    /* height: 30vh */
    height: 100%;
}

.nome {
    text-align: center;
    padding-top: 15px;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.nome a {
    color: #fff;
    font-family: 'Audiowide', monospace;
    font-size: 1rem;
    padding-top: 10px; 
    text-align: center;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  
.nome a:hover {
    color: #FF1177;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
}

@-moz-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
}
  
.descricao {
    text-align: center;
    padding: 0 30px 20px 30px;
    margin: 0;
    font-size: .8em;
}

@media(max-width: 390px){
    .rotate{
        transform: rotate(-17deg) translateX(-37%) translateY(-205%);
    }

    #busca{
        height: 45px;
    }


}


 @media(min-width: 1024px){

    .menu-hamburguer{
        display: none;
    }
}

@media (max-device-width: 750px) and (orientation: landscape){
    header{
        background-size: 74%;
        height: 505px
    } 

    .rotate{
        transform: rotate(-17deg) translateX(-22%) translateY(-335%);
    }

    .input input::placeholder{
        font-size: 14px;
    }
}

@media (max-height: 400px){
    header{
        background-size: 185%;
        /* height: 505px; */
    }

    .rotate{
        transform: rotate(-17deg) translateX(-37%) translateY(-285%);
    }

    #busca{
        transform: translateY(120%)
    }

    /* #busca{
        
        width: 150px;
        height: 25px;
        font-size: 20px;
    }
*/
    .input input::placeholder{
        font-size: 20px;
    } 
}