body{
    background: #131313;
    font-family: 'IBM Plex Mono', monospace;
}

/* (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) */



container{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    margin: 0;
    margin-left: 5%;
    max-width: 20%;
    min-width: 120px;
}

.menu-hamburguer{
    margin-right: 5%;
    width: 10%;
    max-width: 50px;
    min-width: 30px;
}

header{
    position: relative;
    width: 100%;
    height: 88vh;
    background: url("../img/venusInput.svg") no-repeat center;
}

.venus{
    /* background: url("../img/venusInput.svg") no-repeat center; */
    width: 100%;
}

.rotate{
    position: absolute;
    left: 49%;
    bottom: 28.5%;
    width: 80%;
    max-width: 297px;
    transform: rotate(-17deg) translateX(-50%);
}

.input{
    transform: skewX(-17deg);
}

.input input{
    background: transparent;
    border: none;
    /* padding: 20px 70px; */
    padding: 0.3rem;
    width: 250px;
    height: 59px;
    color: white;
    font-size: 1.3em;
}

.input input::placeholder{
    color: white;
    font-size: .8em;
   
}



::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }


.divNuvem{
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 220px;
    width: 100%;
    transform: translate(-50%, 50%);
}

.imgNuvem{
    display: block;
    height: 100%;
    width: 100%;
}

.cadastradas{
    /* background: url("../img/grid-bordeless.svg") no-repeat center; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    margin-top: 100px;
}

.cards{
    background: url("../img/grid-bordeless.svg") no-repeat center;
    max-width: 300px; 
    margin: 30px;
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background: blue;
    opacity:0.4;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    z-index: 1; */
}

.foto img{
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
    
}

/* .overlay1{
    position: absolute;
    background: purple;
    opacity:0.4;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    z-index: 1;
    margin-top: 50px;
    right: 14%
} */

.overlay{
    position: absolute;
    background: purple;
    opacity: 0.5;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    z-index: 2;
    margin-top: 50px
}

.overlay2{
    position: absolute;
    background: blue;
    opacity: 0.2;
    width: 210px;
    height: 210px;
    border-radius: 100%;
    z-index: 1;
    margin-top: 50px
}

.info{
    width: 100%;
    background: #3C2DCB 50%;
    margin: 0 auto;
    color: white;
    /* max-width: 300px; */
}

.nome {
    text-align: center;
    padding-top: 15px;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.nome a {
    color: #fff;
    font-family: 'Audiowide', monospace;
    font-size: 1rem;
    padding-top: 10px; 
    text-align: center;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  

  .nome a:hover {
    color: #FF1177;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }

  @-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }

  @-moz-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  
.descricao {
    text-align: justify;
    padding: 0 30px 20px 30px;
    margin: 0;
    font-size: .8em;
}


/* ::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- 
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 } */



@media(min-width: 700px){
    
    

    .logo{
        margin-left: 80px; 
    }

    .input{
        /* top: 414px;
        right: 55% */
    }
}

@media(min-width: 1100px){

    .menu-hamburguer{
        display: none;
    }

    .rotate {
        left: 49.5%;
        bottom: 31%;
        width: 69%;
    }

    .logo{
        position: absolute;
        top: 50px;
    }

    header{
        height: 100vh;
    }
    
    .cadastradas{
        margin-top: 200px;
    }
}